<nav class="navbar">
  <div class="container">
    <a class="navbar-brand" href="#">Welcome to Angular Routing</a>
    <ul class="nav-bar-pills">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/home">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/career">Career</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
<br>
<br>
<br>
<br>
<form novalidate #loginform='ngForm' (ngSubmit)=" onSubmit(loginform)">
  <div>
    <label for="user">User</label>
    <input type="text" [(ngModel)]='model.user' name="user" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" [(ngModel)]="model.password" name="password" required minlength=4>
  </div>
  <div>
    <input type="checkbox" [(ngModel)]="model.rememberpassword" name="rpassword">
    <label>remember password?</label>
  </div>
  <button [disabled]='loginform.invalid' type="submit">Login</button>
</form>
